<h2>命令式编程-Excel表格</h2>
<table>
  <tr>
    <td>值1</td>
    <td>
      <input type="number" #input1 [ngModel]="number1" (ngModelChange)="onValue1Change($event)">
    </td>
  </tr>
  <tr>
    <td>值2</td>
    <td>
      <input type="number" #input2 [ngModel]="number2" (ngModelChange)="onValue2Change($event)">
    </td>
  </tr>
  <tr>
    <td>值3</td>
    <td>
      <input type="number" #input3 [ngModel]="number3" (ngModelChange)="onValue3Change($event)">
    </td>
  </tr>
  <tr>
    <td>总计</td>
    <td>
      <input type="number" [value]="sum">
    </td>
  </tr>
  <tr>
    <td>均值</td>
    <td>
      <input type="number" [value]="average">
    </td>
  </tr>
  <tr>
    <td>操作</td>
    <td>
      <button (click)="reset()">清空</button>
    </td>
  </tr>
</table>
